body {
  font-family: 'Nunito Sans', sans-serif !important;
}

.MuiInputLabel-root {
  color: rgb(26, 125, 189) !important;
  font-weight: bold !important;
  font-family: 'Nunito Sans', sans-serif !important;
}

.MuiInputBase-root {
  height: 46px;
}

.MuiTableCell-root {
  font-family: 'Nunito Sans', sans-serif !important;
}

.MuiTableCell-head {
  font-weight: bold !important;
}

.MuiTableCell-body {
  color: #0f2052 !important;
}

.MuiCheckbox-root {
  color: #018fec !important;
}

.MuiLink-root {
  color: #018fec !important;
}

.MuiLink-root:hover {
  color: #005999 !important;
}

.MuiTypography-root {
  font-family: 'Nunito Sans', sans-serif !important;
}

.MuiButton-root {
  border-radius: 20px !important;
  height: 47px;
  width: 200px !important;
}