body {
    font-family: 'Nunito Sans', sans-serif;
  }

.MuiInputLabel-root {
  color: rgb(26, 125, 189) !important;
  font-weight: bold !important;
  font-family: 'Nunito Sans', sans-serif !important;
}

.MuiInputBase-root {
  height: 46px;
}